In [1]:
## Data Ingestion
from src.data.ingestion import DataIngestion
train, test = DataIngestion(mode="dev").execute()

/home/nikhil/.local/share/virtualenvs/zindi_paygo-1-T8XSNTNt/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
## Feature Engineering
from src.features.engineering import FeatureEngineering
train = FeatureEngineering(train).execute()
test = FeatureEngineering(test).execute()

In [3]:
# Drop Useless Columns
def drop_cols(df):
    df.drop(
        [
            "ID",
            "UpsellDate",
            "PaymentMethod",
            "TransactionDates",
            "PaymentsHistory",
            "SupplierName",
            "Town",
            "RegistrationDateParsed",
            "ExpectedTermDateParsed",
            "FirstPaymentDateParsed",
            "LastPaymentDateParsed"
        ],
        inplace=True,
        axis=1
    )
drop_cols(train)
drop_cols(test)
train.head()
test.head()

,m1,m2,m3,m4,m5,m6,RegistrationDate,Deposit,AccessoryRate,rateTypeEntity,...,b2,b3,b4,b5,LastFirstDuration,ExpectedFirstDuration,LastRegistrationDuration,FirstPaymentMonth,LastPaymentMonth,RegistrationMonth
0,880.0,930.0,495.0,715.0,220.0,385.0,2018-04-23,2500,0.0,DAILY,...,280.0,1320.0,1200.0,660.0,37.0,18.0,37.0,4,5,4
4,40.0,440.0,460.0,360.0,80.0,330.0,2017-09-06,2000,0.0,DAILY,...,80.0,40.0,40.0,80.0,44.0,11.0,44.0,9,5,9
10,1560.0,2340.0,880.0,1450.0,1500.0,1285.0,2018-03-08,2999,0.0,DAILY,...,450.0,180.0,270.0,4800.0,38.0,17.0,38.0,3,5,3
12,1200.0,1380.0,1510.0,1390.0,1300.0,1400.0,2018-01-24,2000,0.0,DAILY,...,960.0,920.0,600.0,920.0,12.0,11.0,12.0,1,2,1
14,960.0,830.0,1040.0,840.0,800.0,840.0,2017-07-31,2000,0.0,DAILY,...,990.0,140.0,920.0,1280.0,15.0,11.0,15.0,7,11,7

In [4]:
# Feature Encoding

In [ ]:
## Inference: model, X  -> yPred